@keyframes cuIcon-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.cuIconfont-spin {
	-webkit-animation: cuIcon-spin 2s infinite linear;
	animation: cuIcon-spin 2s infinite linear;
	display: inline-block;
}

.cuIconfont-pulse {
	-webkit-animation: cuIcon-spin 1s infinite steps(8);
	animation: cuIcon-spin 1s infinite steps(8);
	display: inline-block;
}


@font-face {
	font-family: "iconfont"; /* Project id 2503789 */
	src: url('//at.alicdn.com/t/font_2503789_q5ec3meupq.woff2?t=1639448637909') format('woff2'),
	url('//at.alicdn.com/t/font_2503789_q5ec3meupq.woff?t=1639448637909') format('woff'),
	url('//at.alicdn.com/t/font_2503789_q5ec3meupq.ttf?t=1639448637909') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lastest_bills:before {
	content: "\e647";
}

.icon-home:before {
	content: "\e68d";
}
